<template>
    <div xmlns:th = "http://www.thymeleaf.org">
    <div class="container">
        <h1>SignUp !</h1>
        <div class="col-md-6">
            <div class="row">
                <p><a href="/oauth2/authorize/google"><img src="http://pngimg.com/uploads/google/google_PNG19635.png" style="height:60px"></a></p>
            </div>
            <div class="row">
                <h4>OR</h4>
                <div class="row">
                    <form action="/login" method="post" name="signup">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="string" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" name="password">
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        data() {
            return {
                username: "",
                password: "",
                invalidLogin: false
            };
        },
        methods: {
            async authenticate() {
                this.invalidLogin = false;
                const data = new URLSearchParams();
                data.append("username", this.username);
                data.append("password", this.password);
                try {
                    const response = await axios({
                        data,
                        url: "/login/",
                        method: "POST"
                    });
                    if (response.status === 200) {
                        //  full page reload : could also do a "fetch" if we wanted
                        window.location.href = "/";
                    } else if (response.status === 400) {
                        this.invalidLogin = true;
                    }
                } catch (e) {
                    console.log("error", e);
                    this.invalidLogin = true;
                }
            }
        }
    };
</script>