<template>

    <div>
        <p>Nothing selected</p>
    </div>

</template>

<script lang="ts">
    export default {
        name: "NothingToShow"
    }
</script>

<style scoped>
    p {
        text-align: center;
        margin-top: 100px;
    }
</style>
