<template>

    <div class="d-flex" id="wrapper">

        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading systemArchitectureLogo"></div>
            <div class="list-group list-group-flush">
                <div style="border-top: 1px solid rgba(0,0,0,.125);"></div>
            </div>
        </div>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link">&nbsp;</a>
                        </li>
                    </ul>
                </div>

            </nav>

            <div class="container-fluid" id="divMainContent">

                <div>

                    <h2 v-html="infoContent"></h2>
                    <br>

                    <div style="max-width: 500px;">
                        <p></p>
                    </div>

                </div>

                <br>
                <br>
                <Info/>

            </div>
        </div>

    </div>

</template>

<script lang="ts">

    import Info from './Info.vue';

    export default {
        name: "NotLoggedIn",
        components: {
            Info
        },
        mounted: function (this: any) {
            const self: any = this;
            setTimeout(function (this: any) {
                self.infoContent = 'Logout successful';
            }, 1000);
        },
        data() {
            return {
                infoContent: 'Loading...'
            }
        },
        methods: {}
    }
</script>

<style scoped>

</style>
