<template>

    <div>
        <h2>Files</h2>
        <br>

        <h4>Images</h4>
        <div :key="`image_${file.id}`" style="display: inline-block;" v-for="file in currentProjectData.files">
            <img :src="file.fileAddress" @click="deleteImage(file.id)"
                 class="img-fluid img-thumbnail filesImagePreviewItem" v-if="file.type === 'image'">
        </div>
        <span v-if="currentProjectData.files.length === 0"><i>No images</i></span>

        <br>
        <br>
        <h4>Documents</h4>
        <div :key="`document_${file.id}`" style="display: block;" v-for="file in currentProjectData.files">
            <div @click="deleteDocument(file.id)" class="filesDocumentPreviewItem" v-if="file.type === 'document'">
                {{file.title}}
                <small>({{file.filename}})</small>
            </div>
        </div>
        <span v-if="currentProjectData.files.length === 0"><i>No documents</i></span>

        <br>
        <br>
        <h4>Add file</h4>
        <form id="fileUploadForm">
            <input :value="currentProjectData.projectId" name="projectId" type="hidden">
            <input id="inputFileWorkbenchControlsUploadFile" name="file" type="file"/>

            <br>
            <br>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="fileTitle">File title:</label>
                <input class="col-sm-10 form-control" id="fileTitle" name="fileTitle" style="max-width: 400px;"
                       type="text">
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="fileType">File type:</label>
                <select class="form-control" id="fileType" name="fileType" style="max-width: 200px;">
                    <option value="image">Image</option>
                    <option value="document">Document</option>
                </select>
            </div>
        </form>

        <button @click="performFileUpload" class="btn btn-primary">Upload file</button>

        <br>
        <br>
        {{uploadFileResultMessage}}

    </div>

</template>

<script lang="ts">

    import $ from 'jquery';
    import {Configuration} from "@/components/Configuration";
    import {FileData, State, Utils} from "./Classes";

    export default {
        name: "ProjectFiles",
        beforeMount: function (this: any) {
            this.currentProjectData = State.get().data.currentProjectData;
        },
        data() {
            return {
                uploadFileResultMessage: '',
                currentProjectData: 0
            };
        },
        methods:
            {
                performFileUpload: function (this: any) {
                    let fileUploadFormElement: any = document.getElementById('fileUploadForm');
                    let fileUploadFormData = new FormData(fileUploadFormElement);

                    $.ajax({
                        url: Configuration.BACKEND_API_ADDRESS + "addProjectFile",
                        type: 'POST',
                        data: fileUploadFormData,
                        success: this.onFileUploadSuccess,
                        error: this.onFileUploadError,
                        cache: false,
                        contentType: false,
                        processData: false,
                        xhrFields: {
                            withCredentials: true
                        }
                    });
                },
                onFileUploadSuccess: function (this: any, data: any) {
                    this.uploadFileResultMessage = 'Die Datei konnte nicht gespeichert werden.';

                    if (data != "0") {
                        let resultObject = JSON.parse(data);

                        if (resultObject.type == FileData.TYPE_IMAGE) {
                            this.uploadFileResultMessage = 'The image "' + resultObject.filename + '" was saved.';
                        } else if (resultObject.type == FileData.TYPE_DOCUMENT) {
                            this.uploadFileResultMessage = 'The document "' + resultObject.filename + '" was saved.';
                        } else {
                            return;
                        }

                        let newFileData: FileData = new FileData(resultObject.id, resultObject.type, resultObject.filePath, Configuration.BACKEND_FILE_ADDRESS + resultObject.filePath, resultObject.filename);

                        State.get().data.currentProjectData.files.push(newFileData);

                        this.currentProjectData = State.get().data.currentProjectData;
                    }
                },
                onFileUploadError: function (this: any, xhr: any, ajaxOptions: any, thrownError: any) {
                    Utils.clog(xhr);
                    Utils.clog(ajaxOptions);
                    Utils.clog(thrownError);
                },
                deleteImage: function (this: any, id: number) {
                    if (!confirm('Delete this image from the project?')) {
                        return;
                    }

                    Utils.userMessage('Not available. (Image ID: ' + id + ')');
                },
                deleteDocument: function (this: any, id: number) {
                    if (!confirm('Delete this document from the project?')) {
                        return;
                    }

                    Utils.userMessage('Not available. (Document ID: ' + id + ')');
                }
            },
    }
</script>
