<template>

    <div>
        <h2>Settings</h2>

        <br>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="projectWorkbenchTitle">Project title</label>
                <div class="col-sm-10">
                    <input class="form-control" id="projectWorkbenchTitle" type="text"
                           v-model="currentProjectData.projectName">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="projectWorkbenchDescription">Project description</label>
                <div class="col-sm-10">
                    <textarea class="form-control rounded" id="projectWorkbenchDescription" rows="10"
                              v-model="currentProjectData.projectDescription"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Diagram</label>
                <div class="col-sm-2">
                    Width (min. 400px) <input class="form-control rounded" id="projectWorkbenchWidth" type="number"
                                                v-model="currentProjectData.workbenchWidth">
                </div>
                <div class="col-sm-2">
                    Height (min. 300px) <input class="form-control rounded" id="projectWorkbenchHeight"
                                                   type="number"
                                                   v-model="currentProjectData.workbenchHeight">
                </div>
            </div>
        </form>

        <button @click="saveProjectSettings" class="btn btn-primary" type="submit">Save</button>

        <br>
        <br>
        <br>
        <h4>Miscellaneous</h4>
        <button @click="deleteProject" class="btn btn-secondary" type="submit">Delete project</button>

    </div>

</template>

<script lang="ts">
    import {ProjectData, State, UserData, Utils} from "./Classes";

    export default {
        mounted: function (this: any) {
            this.currentProjectData = jQuery.extend(true, {}, State.get().data.currentProjectData);
        },
        name: "ProjectSettings",
        methods: {
            getState: function (): State {
                return State.get();
            },
            saveProjectSettings: function (this: any) {
                if (this.currentProjectData.workbenchWidth < 400) this.currentProjectData.workbenchWidth = 400;
                if (this.currentProjectData.workbenchHeight < 300) this.currentProjectData.workbenchHeight = 300;

                const self: any = this;

                Utils.performGetRequest('editProjectSettings/' +
                    this.currentProjectData.projectId + '/' +
                    Utils.formatForDatabase(this.currentProjectData.projectName) + '/' +
                    Utils.formatForDatabase(this.currentProjectData.projectDescription) + '/' +
                    this.currentProjectData.workbenchWidth + '/' +
                    this.currentProjectData.workbenchHeight, function success(response: any) {
                        if ((response.hasOwnProperty('data')) && (response.data == '1')) {
                            State.get().data.currentProjectData = jQuery.extend(true, {}, self.currentProjectData);

                            let userData: UserData | null = State.get().getUser();

                            if (userData != null) {
                                userData.refreshProjectEntryTitle(self.currentProjectData.projectId, self.currentProjectData.projectName)
                            }

                            self.$parent.refresh();

                            Utils.userMessage('The settings were saved successfully.');
                        } else {
                            Utils.userMessage('The settings could not be saved. (1)');
                            Utils.clog(response);
                        }
                    }
                    , function error(error: any) {
                        Utils.userMessage('The settings could not be saved. (2)');
                        Utils.clog(error);
                    });
            },
            deleteProject: function (this: any) {
                if (!confirm('Really delete the current project?')) {
                    return;
                }

                let self: any = this;

                Utils.performGetRequest('deleteProject/' + this.currentProjectData.projectId, function success(response: any) {
                    if ((response.hasOwnProperty('data')) && (response.data === '1')) {
                        Utils.userMessage('The project was delete successfully.');
                        self.$parent.closeProject(false);

                        let userData: UserData | null = State.get().getUser();

                        if (userData != null) {
                            userData.removeProjectEntryById(self.currentProjectData.projectId);
                        }
                    } else {
                        Utils.userMessage('The project could not be deleted. (1)');
                        Utils.clog(response);
                    }
                }, function error(error: any) {
                    Utils.userMessage('The project could not be deleted. (2)');
                    Utils.clog(error);
                });
            }
        },
        data() {
            return {
                currentProjectData: new ProjectData()
            }
        }
    }
</script>

<style scoped>

</style>
