<template>

    <div>

        <div id="divWorkbenchTop">
            <h2 class="workbenchTopDefault d-inline" id="workbenchTopHeading">Overview</h2>

            <div class="workbenchTopDefault d-inline" id="workbenchTopDefaultButtons" style="float: right;">
                <input @click="editCurrentLayer()" class="btn btn-sm btn-secondary" type="button"
                       value="Edit layer">
                &nbsp;
                <input @click="saveProject()" class="btn btn-sm btn-primary" type="button" value="Save project">
            </div>

            <div class="d-inline" id="workbenchTopCustomAction" style="float: right; display: none !important;">

                <label for="workbenchTopCustomActionInputText" id="workbenchTopCustomActionInputTextHint"></label>
                <input class="inline-form-control" id="workbenchTopCustomActionInputText" type="text">

                <input @click="workbenchTopCustomActionCancel()" class="btn btn-sm btn-secondary" type="button"
                       value="Cancel">
                &nbsp;
                <input @click="workbenchTopCustomActionSave()" class="btn btn-sm btn-primary" type="button"
                       value="Save">
            </div>

            <br>

            <p class="workbenchTopDefault" id="workbenchTopBreadcrumb" style="margin-top: 4px; margin-bottom: 8px;">
                <span v-bind:key="item.id" v-for="(item, index) in breadcrumbLayers">
                    <span @click="openLayer(item.id)" class="asColoredLink"
                          style="text-decoration: underline;" v-if="index < (breadcrumbLayers.length - 1)">{{item.title}}</span>
                    <span style="font-weight: bold;" v-if="index < (breadcrumbLayers.length - 1)">&nbsp;&nbsp;>&nbsp;&nbsp;</span>
                    <span v-if="index === (breadcrumbLayers.length - 1)">{{item.title}}</span>
                </span>
            </p>
        </div>

        <div class="p-3" id="divWorkbench" style="background-color: #eee; display: none; overflow: scroll;">
            <div id="divWorkbenchContent" style="background: #ffffff;"></div>
        </div>

        <div id="dragItemMenuBar">

            <div class="d-inline" style="margin-right: 24px;">
                <img @click="addNewDragItem('image')" class="asLink dragItemMenuBarItem"
                     src="assets/icons/dragitems/image.svg">
                <p class="d-inline asNotClickable" style="padding-left: 6px;">Image</p>
            </div>

            <div class="d-inline" style="margin-right: 24px;">
                <img @click="addNewDragItem('label')" class="asLink dragItemMenuBarItem"
                     src="assets/icons/dragitems/label.svg">
                <p class="d-inline asNotClickable" style="padding-left: 6px;">Text</p>
            </div>

            <div class="d-inline" style="margin-right: 24px;">
                <img @click="addNewDragItem('traffic-light')" class="asLink dragItemMenuBarItem"
                     src="assets/icons/dragitems/trafficlight_none.svg">
                <p class="d-inline asNotClickable" style="padding-left: 6px;">Status</p>
            </div>

            <div class="d-inline" style="margin-right: 24px;">
                <img @click="addNewDragItem('document')" class="asLink dragItemMenuBarItem"
                     src="assets/icons/dragitems/document.svg">
                <p class="d-inline asNotClickable" style="padding-left: 6px;">Document</p>
            </div>

            <div class="d-inline" style="margin-right: 24px;">
                <img @click="addNewDragItem('risk')" class="asLink dragItemMenuBarItem"
                     src="assets/icons/dragitems/bomb.svg">
                <p class="d-inline asNotClickable" style="padding-left: 6px;">Risk</p>
            </div>

            <div class="d-inline" style="margin-right: 24px;">
                <img @click="addNewDragItem('notice')" class="asLink dragItemMenuBarItem"
                     src="assets/icons/dragitems/note.svg">
                <p class="d-inline asNotClickable" style="padding-left: 6px;">Note</p>
            </div>

            <div class="d-inline" style="margin-right: 24px;">
                <img @click="addNewDragItem('magnifier')" class="asLink dragItemMenuBarItem"
                     src="assets/icons/dragitems/layer.svg">
                <p class="d-inline asNotClickable" style="padding-left: 6px;">Magnifier</p>
            </div>

        </div>

        <div class="ctxMenu" id="ctxMenu">

            <div class="ctxMenu-dragitem-specific ctxMenu-dragitem-document">
                <p @click="currentDragItemAction($event, 'open-document')" class="ctxMenuItem ">Open document</p>
                <hr style="margin: 0;">
            </div>

            <div class="ctxMenu-dragitem-specific ctxMenu-dragitem-magnifier">
                <p @click="currentDragItemAction($event, 'open-layer')" class="ctxMenuItem ">Open layer</p>
                <hr style="margin: 0;">
                <p @click="currentDragItemAction($event, 'create-layer')" class="ctxMenuItem ">New layer</p>
                <hr style="margin: 0;">
            </div>

            <p @click="currentDragItemAction($event, 'edit')" class="ctxMenuItem">Edit</p>
            <hr style="margin: 0;">

            <p @click="currentDragItemAction($event, 'remove')" class="ctxMenuItem">Remove</p>
        </div>

    </div>

</template>

<script lang="ts">

    import $ from 'jquery';
    import {DragItem, FileData, Layer, ModalData, State, Utils} from "@/components/Classes";
    import {Configuration} from "@/components/Configuration";

    document.addEventListener("DOMContentLoaded", calculateWorkbenchSize);
    window.addEventListener("resize", calculateWorkbenchSize);

    let mousePosition;
    let offset = [0, 0];
    let isDown = false;

    let currentMovingObjectId: string;
    let currentMovingDragItemObject: DragItem | null;

    function initializeMainLayer(this: any) {
        State.get().prepareDefaultLayer();
    }

    function initializeEventListeners() {
        document.addEventListener('mouseup', function () {
            isDown = false;
        }, true);

        document.addEventListener('mousemove', function (event) {
            event.preventDefault();

            if (isDown) {
                let currentMovingElementId: any = currentMovingObjectId;

                if (currentMovingElementId !== 'selectLayerPositionAndSize') {
                    currentMovingElementId = 'dragItemObject_' + currentMovingElementId;
                }

                let currentImgMoveablePreview: any = document.getElementById(currentMovingElementId);

                mousePosition = {
                    x: event.clientX,
                    y: event.clientY
                };

                let divWorkbenchObj: any = document.getElementById("divWorkbenchContent");

                if (divWorkbenchObj == null) {
                    return;
                }

                let divMainContentWidth: number = divWorkbenchObj.offsetWidth;
                let divMainContentHeight: number = divWorkbenchObj.offsetHeight;

                let newPositionX: number = mousePosition.x + offset[0];
                let newPositionY: number = mousePosition.y + offset[1];

                if (newPositionX < 0) {
                    newPositionX = 0;
                }

                if (newPositionY < 0) {
                    newPositionY = 0;
                }

                if ((newPositionX + currentImgMoveablePreview.offsetWidth) > divMainContentWidth) {
                    newPositionX = divMainContentWidth - currentImgMoveablePreview.offsetWidth;
                }

                if ((newPositionY + currentImgMoveablePreview.offsetHeight) > divMainContentHeight) {
                    newPositionY = divMainContentHeight - currentImgMoveablePreview.offsetHeight;
                }

                currentImgMoveablePreview.style.left = newPositionX + 'px';
                currentImgMoveablePreview.style.top = newPositionY + 'px';

                if (currentMovingDragItemObject != null) {
                    currentMovingDragItemObject.positionX = newPositionX;
                    currentMovingDragItemObject.positionY = newPositionY;
                }
            }

        }, true);

        document.addEventListener('click', function (event) {
            closeContextMenu();
        });
    }

    function calculateWorkbenchSize(): void {
        let divWorkbenchTopObj: any = document.getElementById("divWorkbenchTop");
        let divWorkbenchObj: any = document.getElementById("divWorkbench");
        let dragItemMenuBarObj: any = document.getElementById("dragItemMenuBar");

        if ((divWorkbenchTopObj != null) && (divWorkbenchObj != null) && (dragItemMenuBarObj != null)) {
            divWorkbenchObj.style.height = (window.innerHeight - 100 - divWorkbenchTopObj.offsetHeight - dragItemMenuBarObj.offsetHeight) + 'px';
            divWorkbenchObj.style.width = (window.innerWidth - 270) + 'px';

            divWorkbenchObj.style.display = 'block';
        }

        let divWorkbenchContent: any = $('#divWorkbenchContent');
        divWorkbenchContent.css('width', State.get().data.currentProjectData.workbenchWidth);
        divWorkbenchContent.css('height', State.get().data.currentProjectData.workbenchHeight);
    }

    function getInsertionPosition(elementWidth: number, elementHeight: number, positionX: number | null = null, positionY: number | null = null, dragItem: DragItem | null = null): string {
        let position: string = '';

        if ((positionX !== null) && (positionY !== null)) {
            if ((positionX + elementWidth) > State.get().data.currentProjectData.workbenchWidth) {
                positionX = State.get().data.currentProjectData.workbenchWidth - elementWidth;
            }

            if ((positionY + elementHeight) > State.get().data.currentProjectData.workbenchHeight) {
                positionY = State.get().data.currentProjectData.workbenchHeight - elementHeight;
            }

            position = 'left: ' + positionX + 'px; top: ' + positionY + 'px;';
        } else {
            let divWorkbenchElement: any = document.getElementById('divWorkbench');
            let divWorkbenchContentElement: any = document.getElementById('divWorkbenchContent');

            let posX: number = (divWorkbenchElement.offsetLeft - divWorkbenchContentElement.getBoundingClientRect().x) + divWorkbenchContentElement.offsetLeft;
            let posY: number = (divWorkbenchElement.offsetTop - divWorkbenchContentElement.getBoundingClientRect().y) + divWorkbenchContentElement.offsetTop;

            let workbenchContentWidth = divWorkbenchElement.offsetWidth - (divWorkbenchContentElement.offsetLeft * 2);
            let workbenchContentHeight = divWorkbenchElement.offsetHeight - (divWorkbenchContentElement.offsetTop * 2);

            positionX = ((workbenchContentWidth / 2) + posX) - (elementWidth / 2);
            positionY = ((workbenchContentHeight / 2) + posY) - (elementHeight / 2);

            if ((positionX + elementWidth) > State.get().data.currentProjectData.workbenchWidth) {
                positionX = State.get().data.currentProjectData.workbenchWidth - elementWidth;
            }

            if ((positionY + elementHeight) > State.get().data.currentProjectData.workbenchHeight) {
                positionY = State.get().data.currentProjectData.workbenchHeight - elementHeight;
            }

            position = 'left: ' + positionX + 'px; top: ' + positionY + 'px;';
        }

        if (dragItem != null) {
            dragItem.positionX = positionX;
            dragItem.positionY = positionY;
        }

        return position;
    }

    function addDragItemToWorkbenchContent(dragItem: DragItem): DragItem | null {
        let dragItemObject: any;

        let divWorkbenchContent: any = $('#divWorkbenchContent');

        let position: string = '';

        if (dragItem.getType() == DragItem.TYPE_IMAGE) {
            position = getInsertionPosition(101, 51, dragItem.positionX, dragItem.positionY, dragItem);
            divWorkbenchContent.append('<img style="' + position + '" class="dragItemObject dragItemObjectImage" src="" alt="Bild" id="' + 'dragItemObject_' + dragItem.getId() + '" name="' + 'dragItemObject_' + dragItem.getId() + '" />');
        } else if (dragItem.getType() == DragItem.TYPE_LABEL) {
            position = getInsertionPosition(42, 38, dragItem.positionX, dragItem.positionY, dragItem);
            divWorkbenchContent.append('<p style="' + position + '" class="dragItemObject dragItemObjectLabel asNotClickable" id="' + 'dragItemObject_' + dragItem.getId() + '" name="' + 'dragItemObject_' + dragItem.getId() + '"></p>');
        } else if (dragItem.getType() == DragItem.TYPE_TRAFFIC_LIGHT) {
            position = getInsertionPosition(50, 50, dragItem.positionX, dragItem.positionY, dragItem);
            divWorkbenchContent.append('<img style="' + position + '" class="dragItemObject dragItemObjectTrafficLight" src="" alt="Ampel" id="' + 'dragItemObject_' + dragItem.getId() + '" name="' + 'dragItemObject_' + dragItem.getId() + '" />');
        } else if (dragItem.getType() == DragItem.TYPE_DOCUMENT) {
            position = getInsertionPosition(50, 50, dragItem.positionX, dragItem.positionY, dragItem);
            divWorkbenchContent.append('<img style="' + position + '" class="dragItemObject dragItemObjectDocument" src="assets/icons/dragitems/document.svg" alt="Dokument" id="' + 'dragItemObject_' + dragItem.getId() + '" name="' + 'dragItemObject_' + dragItem.getId() + '" />');
        } else if (dragItem.getType() == DragItem.TYPE_RISK) {
            position = getInsertionPosition(60, 60, dragItem.positionX, dragItem.positionY, dragItem);
            divWorkbenchContent.append('<img style="' + position + '" class="dragItemObject dragItemObjectRisk" src="assets/icons/dragitems/bomb.svg" alt="Risiko" id="' + 'dragItemObject_' + dragItem.getId() + '" name="' + 'dragItemObject_' + dragItem.getId() + '" />');
        } else if (dragItem.getType() == DragItem.TYPE_NOTICE) {
            position = getInsertionPosition(40, 40, dragItem.positionX, dragItem.positionY, dragItem);
            divWorkbenchContent.append('<img style="' + position + '" class="dragItemObject dragItemObjectNotice" src="assets/icons/dragitems/note.svg" alt="Notiz" id="' + 'dragItemObject_' + dragItem.getId() + '" name="' + 'dragItemObject_' + dragItem.getId() + '" />');
        } else if (dragItem.getType() == DragItem.TYPE_MAGNIFIER) {
            position = getInsertionPosition(40, 40, dragItem.positionX, dragItem.positionY, dragItem);
            divWorkbenchContent.append('<img style="' + position + '" class="dragItemObject dragItemObjectMagnifier" src="assets/icons/dragitems/layer.svg" alt="Lupe" id="' + 'dragItemObject_' + dragItem.getId() + '" name="' + 'dragItemObject_' + dragItem.getId() + '" />');
        } else {
            Utils.userMessage("Not available.");
            return null;
        }

        dragItemObject = document.getElementById('dragItemObject_' + dragItem.getId());

        if (!dragItemObject) {
            return null;
        }

        dragItemObject.addEventListener('mousedown', function (this: any, event: any) {
            let id: string | undefined = $(this).attr('id');

            if (id == undefined) {
                return;
            }

            currentMovingObjectId = id.replace('dragItemObject_', '');
            currentMovingDragItemObject = State.get().getDragItem(parseInt(currentMovingObjectId));

            let currentImgMoveablePreview: any = document.getElementById('dragItemObject_' + currentMovingObjectId);

            isDown = true;

            offset = [
                currentImgMoveablePreview.offsetLeft - event.clientX,
                currentImgMoveablePreview.offsetTop - event.clientY
            ];

        }, true);

        dragItemObject.addEventListener('contextmenu', function (this: any, event: any) {
            event.preventDefault();

            let ctxMenu: any = document.getElementById('ctxMenu');
            ctxMenu.style.display = 'block';
            ctxMenu.style.left = (event.pageX - 10) + 'px';
            ctxMenu.style.top = (event.pageY - 10) + 'px';
            ctxMenu.setAttribute('data-parent-drag-item-id', $(this).attr('id'));

            $('.ctxMenu-dragitem-specific').hide();

            $('.ctxMenu-dragitem-' + dragItem.getType()).show();

        }, false);

        dragItemObject.addEventListener('click', function (this: any, event: any) {
            closeContextMenu();
        });

        modifyDragItemInWorkbenchContent(dragItem);

        return dragItem;
    }

    function modifyDragItemInWorkbenchContent(dragItem: DragItem): void {
        if (dragItem == null) {
            return;
        }

        if (dragItem.getType() == DragItem.TYPE_LABEL) {
            setDragItemLabelText(dragItem.getId(), dragItem.specificValue);
        } else if (dragItem.getType() == DragItem.TYPE_IMAGE) {
            setDragItemImageSource(dragItem.getId(), dragItem.specificValue);
        } else if (dragItem.getType() == DragItem.TYPE_TRAFFIC_LIGHT) {
            setDragItemTrafficLightStatus(dragItem.getId(), dragItem.specificValue);
        } else if (dragItem.getType() == DragItem.TYPE_DOCUMENT) {
            //
        } else if (dragItem.getType() == DragItem.TYPE_RISK) {
            //
        } else if (dragItem.getType() == DragItem.TYPE_NOTICE) {
            //
        } else if (dragItem.getType() == DragItem.TYPE_MAGNIFIER) {
            //
        }
    }

    function addNewDragItem(type: string, positionX: number | null = null, positionY: number | null = null): void {
        let dragItem: DragItem | null = new DragItem(Utils.generateId(), type);

        if (dragItem.getType() == DragItem.TYPE_LABEL) {
            dragItem.specificValue = 'Text';
        } else if (dragItem.getType() == DragItem.TYPE_IMAGE) {
            dragItem.specificValue = -1;
        } else if (dragItem.getType() == DragItem.TYPE_TRAFFIC_LIGHT) {
            dragItem.specificValue = 'none';
        } else if (dragItem.getType() == DragItem.TYPE_DOCUMENT) {
            dragItem.specificValue = -1;
        } else if (dragItem.getType() == DragItem.TYPE_RISK) {
            dragItem.specificValue = '';
        } else if (dragItem.getType() == DragItem.TYPE_NOTICE) {
            dragItem.specificValue = '';
        } else if (dragItem.getType() == DragItem.TYPE_MAGNIFIER) {
            dragItem.specificValue = '';
        }

        dragItem = addDragItemToWorkbenchContent(dragItem);

        if (dragItem != null) {
            State.get().setDragItem(dragItem);
        }
    }

    function closeContextMenu() {
        let ctxMenu: any = document.getElementById('ctxMenu');

        if (ctxMenu != null) {
            ctxMenu.style.display = 'none';
            ctxMenu.style.left = '';
            ctxMenu.style.top = '';
            ctxMenu.setAttribute('data-parent-drag-item-id', '');
        }
    }

    function setDragItemLabelText(dragItemId: any, text: string) {
        $('#dragItemObject_' + dragItemId).text(text);
    }

    function setDragItemImageSource(dragItemId: any, fileDataId: number) {
        let imageFilename: string = '';

        for (let fileData of State.get().data.currentProjectData.files as FileData[]) {
            if (fileData.id == fileDataId) {
                imageFilename = fileData.fileAddress;
                break;
            }
        }

        if (imageFilename == '') {
            imageFilename = 'assets/dragItemImageDefault.png';
        }

        $('#dragItemObject_' + dragItemId).attr('src', imageFilename);
    }

    function setDragItemTrafficLightStatus(dragItemId: any, status: string) {
        $('#dragItemObject_' + dragItemId).attr('src', 'assets/icons/dragitems/trafficlight_' + status + '.svg');
    }

    function modifyLayerBackground(layer: Layer) {
        let divWorkbenchContent: any = $('#divWorkbenchContent');

        if (layer.backgroundImageId == FileData.ID_INHERITED_IMAGE) {
            let parentLayer: Layer | null = State.get().getLayer(layer.parentLayerId);

            if (parentLayer == null) {
                divWorkbenchContent.css('background-image', 'url()');
                return;
            }

            let parentLayerBackgroundFileData: FileData | null = State.get().getFileData(parentLayer.backgroundImageId);

            if ((parentLayerBackgroundFileData == null) ||
                (parentLayerBackgroundFileData.id == FileData.ID_NO_IMAGE) ||
                (parentLayerBackgroundFileData.id == FileData.ID_INHERITED_IMAGE)) {
                divWorkbenchContent.css('background-image', 'url()');
                return;
            }

            // @ts-ignore
            document.loadImageAsObject(parentLayerBackgroundFileData.fileAddress, function (imgObject: any) {
                let layer: Layer = State.get().getCurrentLayer();

                let scaleWidth: number = 0;
                let scaleHeight: number = 0;

                let scale: number = 1;

                let ratioWorkbench: number = State.get().data.currentProjectData.workbenchWidth / State.get().data.currentProjectData.workbenchHeight;
                let ratioLayer: number = layer.width / layer.height;

                if (ratioWorkbench > ratioLayer) {
                    scale = State.get().data.currentProjectData.workbenchHeight / layer.height;
                    scaleWidth = layer.width * scale;
                    scaleHeight = State.get().data.currentProjectData.workbenchHeight;
                } else {
                    scale = State.get().data.currentProjectData.workbenchWidth / layer.width;
                    scaleHeight = layer.height * scale;
                    scaleWidth = State.get().data.currentProjectData.workbenchWidth;
                }

                scale = 1 / scale;

                let newImg: any = Utils.cropImage(imgObject, scaleWidth, scaleHeight, layer.positionX, layer.positionY, scale);

                let imgBase64 = newImg.replace(/(\r\n|\n|\r)/gm, "");

                divWorkbenchContent.css('background-image', 'url("' + imgBase64 + '")');
            });
        } else {
            let backgroundImageFilename: string = '';

            if (layer.backgroundImageId != FileData.ID_NO_IMAGE) {
                for (let fileData of State.get().data.currentProjectData.files as FileData[]) {
                    if (fileData.id == layer.backgroundImageId) {
                        backgroundImageFilename = fileData.fileAddress;
                        break;
                    }
                }
            }

            divWorkbenchContent.css('background-image', 'url(' + backgroundImageFilename + ')');
        }
    }

    initializeEventListeners();

    initializeMainLayer();

    export default {
        name: "ProjectOverview",
        components: {},
        data() {
            return {
                breadcrumbLayers: [],
                triggerCreateNewLayerDragItemId: -1,
                triggerEditPositionSizeLayerId: -1
            }
        },
        methods: {
            addNewDragItem: function (type: string, positionX: number | null = null, positionY: number | null = null) {
                addNewDragItem(type, positionX, positionY);
            },
            modalAcceptCallback: function (data: any) {
                if (data.hasOwnProperty('dragItemId')) {
                    let dragItem: DragItem | null = State.get().getDragItem(data.dragItemId);

                    if (dragItem == null) {
                        return;
                    }

                    let modalInputId1: any = $('#modalInputId1');

                    if (dragItem.getType() == DragItem.TYPE_LABEL) {
                        let changedText: any = modalInputId1.val();

                        if (changedText !== '') {
                            dragItem.specificValue = changedText;
                        }
                    } else if (dragItem.getType() == DragItem.TYPE_IMAGE) {
                        if (data.hasOwnProperty('fileDataImages')) {
                            dragItem.specificValue = parseInt(modalInputId1.val());
                        }
                    } else if (dragItem.getType() == DragItem.TYPE_TRAFFIC_LIGHT) {
                        dragItem.specificValue = modalInputId1.val();
                    } else if (dragItem.getType() == DragItem.TYPE_DOCUMENT) {
                        if (data.hasOwnProperty('fileDataDocuments')) {
                            dragItem.specificValue = parseInt(modalInputId1.val());
                        }
                    } else if (dragItem.getType() == DragItem.TYPE_RISK) {
                        dragItem.specificValue = modalInputId1.val();
                    } else if (dragItem.getType() == DragItem.TYPE_NOTICE) {
                        dragItem.specificValue = modalInputId1.val();
                    } else if (dragItem.getType() == DragItem.TYPE_MAGNIFIER) {
                        dragItem.specificValue = modalInputId1.val();
                    }

                    modifyDragItemInWorkbenchContent(dragItem);
                } else if (data.hasOwnProperty('action')) {
                    if (data.action === 'editCurrentLayer') {
                        let modalInputId1: any = $('#modalInputId1');
                        let modalInputId2: any = $('#modalInputId2');

                        let currentLayer: Layer | null = State.get().getCurrentLayer();

                        if (currentLayer == null) {
                            return;
                        }

                        if (data.hasOwnProperty('fileDataImages')) {
                            currentLayer.backgroundImageId = parseInt(modalInputId1.val());

                            modifyLayerBackground(currentLayer);
                        }

                        currentLayer.title = modalInputId2.val();

                        this.refreshWorkbenchTopBreadcrumb();
                    }
                }
            },
            modalCancelCallback: function (data: any) {
                // cancel
            },
            modalActionCallback: function (data: any, id: number) {
                if (data.hasOwnProperty('dragItemId')) {
                    let dragItemObj: DragItem | null = State.get().getDragItem(data.dragItemId);

                    if (dragItemObj == null) {
                        return;
                    }

                    if (dragItemObj.getType() == DragItem.TYPE_MAGNIFIER) {
                        this.openCreateNewLayerView(dragItemObj.getId());
                    }
                } else {
                    if ((id == 1) && (data.hasOwnProperty('firstActionKey'))) {
                        if ((data.firstActionKey == 'delete-layer')) {
                            if (!confirm('Delete this layer and including all sub-layers?')) {
                                return;
                            }

                            let currentLayerParentId: number = State.get().getCurrentLayer().parentLayerId;

                            if (currentLayerParentId == -1) {
                                currentLayerParentId = 0;
                            }

                            State.get().removeLayerWithSubLayers(State.get().getCurrentLayerId());

                            this.openLayer(currentLayerParentId);
                        }
                    } else if ((id == 2) && (data.hasOwnProperty('secondActionKey'))) {
                        if (data.secondActionKey == 'edit-layer-position-size') {
                            this.openCreateNewLayerView(-1, State.get().getCurrentLayer());
                        }
                    }
                }
            },
            currentDragItemAction: function (this: any, event: any, action: string) {
                let ctxMenu: any = document.getElementById('ctxMenu');

                let dragItemIdFromAttribute: string = ctxMenu.getAttribute('data-parent-drag-item-id');

                if (dragItemIdFromAttribute == '') {
                    return;
                }

                dragItemIdFromAttribute = dragItemIdFromAttribute.replace('dragItemObject_', '');

                let dragItemId: number = parseInt(dragItemIdFromAttribute);

                let dragItemObj: DragItem | null = State.get().getDragItem(dragItemId);

                if (dragItemObj == null) {
                    return;
                }

                let callbackData: any = {};
                callbackData.dragItemId = dragItemId;

                if (action == 'edit') {
                    if (dragItemObj.getType() == DragItem.TYPE_IMAGE) {
                        let content: string = '<select id="modalInputId1" class="image-picker show-html" style="display: none;">\n';

                        callbackData.fileDataImages = [] as FileData[];

                        for (let fileData of State.get().data.currentProjectData.files as FileData[]) {
                            if (fileData.type == FileData.TYPE_IMAGE) {
                                callbackData.fileDataImages.push(fileData);
                            }
                        }

                        if (callbackData.fileDataImages.length == 0) {
                            content = '<i>No images available.</i>';
                        } else {
                            for (let imageFileData of callbackData.fileDataImages as FileData[]) {
                                content += '<option data-img-src="' + imageFileData.fileAddress + '" data-img-class="first" data-img-alt="' + imageFileData.title + '" value="' + imageFileData.id + '"></option>\n';
                            }
                            content += '</select>';
                        }

                        let modalData: ModalData = new ModalData('Edit image', content, 'Save', 'Cancel', this.modalAcceptCallback, this.modalCancelCallback, this.modalActionCallback, '', this.modalActionCallback, '', callbackData);

                        this.$parent.showGlobalModal(modalData);
                    } else if (dragItemObj.getType() == DragItem.TYPE_LABEL) {
                        let content: string = '' +
                            '<div class="form-group row">' +
                            '  <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Text</label>\n' +
                            '  <div class="col-sm-10">\n' +
                            '    <input type="text" class="form-control isModalInput" id="modalInputId1" value="' + dragItemObj.specificValue + '">\n' +
                            '  </div>\n' +
                            '</div>';

                        let modalData: ModalData = new ModalData('Edit text', content, 'Save', 'Cancel', this.modalAcceptCallback, this.modalCancelCallback, this.modalActionCallback, '', this.modalActionCallback, '', callbackData);

                        this.$parent.showGlobalModal(modalData);

                        $('#modalInputId1').val(dragItemObj.specificValue);
                    } else if (dragItemObj.getType() == DragItem.TYPE_TRAFFIC_LIGHT) {
                        let content: string = '' +
                            '<div class="form-group row">' +
                            '  <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Status</label>\n' +
                            '  <div class="col-sm-10">\n' +
                            '    <select class="form-control" id="modalInputId1">\n' +
                            '       <option value="none">No status</option>\n' +
                            '       <option value="red">Red</option>\n' +
                            '       <option value="yellow">Yellow</option>\n' +
                            '       <option value="green">Green</option>\n' +
                            '   </select>\n' +
                            '  </div>\n' +
                            '</div>';

                        let modalData: ModalData = new ModalData('Edit status', content, 'Save', 'Cancel', this.modalAcceptCallback, this.modalCancelCallback, null, '', null, '', callbackData);

                        this.$parent.showGlobalModal(modalData);

                        const dragItemObj_specificValue: any = dragItemObj.specificValue;

                        $('#modalInputId1').val(dragItemObj.specificValue);
                        setTimeout(function () {
                            $('#modalInputId1').val(dragItemObj_specificValue);
                        }, 100);
                    } else if (dragItemObj.getType() == DragItem.TYPE_DOCUMENT) {
                        let currentText: any = $('#dragItemObject_' + dragItemId).text();

                        callbackData.fileDataDocuments = [] as FileData[];

                        let selectDocumentContent: string = '<select id="modalInputId1" class="form-control" style="">\n';

                        for (let fileData of State.get().data.currentProjectData.files as FileData[]) {
                            if (fileData.type == FileData.TYPE_DOCUMENT) {
                                callbackData.fileDataDocuments.push(fileData);
                            }
                        }

                        let content: string;

                        if (callbackData.fileDataDocuments.length == 0) {
                            content = '<i>No documents available.</i>';
                        } else {
                            for (let documentFileData of callbackData.fileDataDocuments as FileData[]) {
                                selectDocumentContent += '<option value="' + documentFileData.id + '">' + documentFileData.title + '</option>\n';
                            }
                            selectDocumentContent += '</select>';

                            content = '' +
                                '<div class="form-group row">' +
                                '  <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Document</label>\n' +
                                '  <div class="col-sm-10">\n' +
                                selectDocumentContent + '' +
                                '  </div>\n' +
                                '</div>';
                        }

                        let modalData: ModalData = new ModalData('Edit document', content, 'Save', 'Cancel', this.modalAcceptCallback, this.modalCancelCallback, this.modalActionCallback, '', this.modalActionCallback, '', callbackData);

                        this.$parent.showGlobalModal(modalData);

                        const dragItemObj_specificValue: any = dragItemObj.specificValue;

                        $('#modalInputId1').val(dragItemObj.specificValue);
                        setTimeout(function () {
                            $('#modalInputId1').val(dragItemObj_specificValue);
                        }, 100);
                    } else if (dragItemObj.getType() == DragItem.TYPE_RISK) {
                        let content: string = '' +
                            '<div class="form-group row" style="padding: 0px 16px;">' +
                            '  <label for="modalInputId1" class="col-form-label">Risc description</label><br>\n' +
                            '  <textarea class="form-control rounded" id="modalInputId1" rows="10">' + dragItemObj.specificValue + '</textarea>\n' +
                            '</div>';

                        let modalData: ModalData = new ModalData('Edit risk description', content, 'Save', 'Cancel', this.modalAcceptCallback, this.modalCancelCallback, this.modalActionCallback, '', this.modalActionCallback, '', callbackData);

                        this.$parent.showGlobalModal(modalData);

                        $('#modalInputId1').val(dragItemObj.specificValue);
                    } else if (dragItemObj.getType() == DragItem.TYPE_NOTICE) {
                        let content: string = '' +
                            '<div class="form-group row" style="padding: 0px 16px;">' +
                            '  <label for="modalInputId1" class="col-form-label">Note</label><br>\n' +
                            '  <textarea class="form-control rounded" id="modalInputId1" rows="10">' + dragItemObj.specificValue + '</textarea>\n' +
                            '</div>';

                        let modalData: ModalData = new ModalData('Edit note', content, 'Save', 'Cancel', this.modalAcceptCallback, this.modalCancelCallback, this.modalActionCallback, '', this.modalActionCallback, '', callbackData);

                        this.$parent.showGlobalModal(modalData);

                        $('#modalInputId1').val(dragItemObj.specificValue);
                    } else if (dragItemObj.getType() == DragItem.TYPE_MAGNIFIER) {
                        let content: string = '' +
                            '<div class="form-group row">' +
                            '  <label for="modalInputId1" class="col-sm-2 col-form-label">Layer</label>\n' +
                            '  <div class="col-sm-10">\n' +
                            '    <select id="modalInputId1" class="form-control">\n';

                        for (const key of Object.keys(State.get().layers)) {
                            let layer: Layer | null = State.get().getLayer(parseInt(key));

                            if (layer != null) {
                                content += '<option value="' + key + '">' + layer.title + '</option>\n';
                            }
                        }

                        content += '' +
                            '    </select>\n' +
                            '  </div>\n' +
                            '</div>';

                        let modalData: ModalData = new ModalData('Edit magnifier', content, 'Save', 'Cancel', this.modalAcceptCallback, this.modalCancelCallback, this.modalActionCallback, 'New layer', this.modalActionCallback, '', callbackData);

                        this.$parent.showGlobalModal(modalData);

                        const dragItemObj_specificValue: any = dragItemObj.specificValue;

                        $('#modalInputId1').val(dragItemObj.specificValue);
                        setTimeout(function () {
                            $('#modalInputId1').val(dragItemObj_specificValue);
                        }, 100);
                    } else {
                        return;
                    }
                } else if (action == 'remove') {
                    if (!confirm('Element entfernen?')) {
                        return;
                    }

                    State.get().removeDragItem(dragItemId);

                    $('#dragItemObject_' + dragItemId).remove();

                    return;
                } else if (action == 'open-layer') {
                    this.openLayer(dragItemObj.specificValue);
                } else if (action == 'create-layer') {
                    this.openCreateNewLayerView(dragItemId);
                } else if (action == 'open-document') {
                    this.openDocument(dragItemObj.specificValue);
                }

                if (dragItemObj.getType() == DragItem.TYPE_IMAGE) {
                    setTimeout(function () {
                        let modalInputId1: any = $("#modalInputId1");
                        modalInputId1.imagepicker();
                    }, 500);
                }
            },
            openCreateNewLayerView: function (this: any, triggerDragItemId: number = -1, editLayer: Layer | null = null) {
                let divWorkbench: any = $('#divWorkbenchContent');

                let width: number = 200;
                let height: number = 150;
                let position: string = '';

                if (editLayer == null) {
                    this.triggerCreateNewLayerDragItemId = triggerDragItemId;
                    this.triggerEditPositionSizeLayerId = -1;

                    position = getInsertionPosition(width, height);
                } else {
                    this.triggerCreateNewLayerDragItemId = -1;
                    this.triggerEditPositionSizeLayerId = editLayer.id;

                    position = 'left: ' + editLayer.positionX + 'px; top: ' + editLayer.positionY + 'px;';
                    width = editLayer.width;
                    height = editLayer.height;

                    this.openLayer(0);
                }

                divWorkbench.append('' +
                    '<div class="selectLayerPositionAndSize" id="selectLayerPositionAndSize" style="width: ' + width + 'px; height: ' + height + 'px; max-width: ' + State.get().data.currentProjectData.workbenchWidth + 'px; max-height: ' + State.get().data.currentProjectData.workbenchHeight + 'px; ' + position + '">' +
                    '   <div class="selectLayerPositionAndSizeInner" id="selectLayerPositionAndSizeInner"></div>' +
                    '</div>');

                let selectLayerPositionAndSizeInner: any = document.getElementById('selectLayerPositionAndSizeInner');

                selectLayerPositionAndSizeInner.addEventListener('mousedown', function (this: any, event: any) {
                    currentMovingObjectId = 'selectLayerPositionAndSize';
                    currentMovingDragItemObject = null;

                    let currentImgMoveablePreview: any = document.getElementById(currentMovingObjectId);

                    isDown = true;

                    offset = [
                        currentImgMoveablePreview.offsetLeft - event.clientX,
                        currentImgMoveablePreview.offsetTop - event.clientY
                    ];

                }, true);

                $('#workbenchTopBreadcrumb').css('visibility', 'hidden');
                $('#workbenchTopHeading').text('Define layer');
                $('#workbenchTopDefaultButtons').removeClass('d-inline').css('display', 'none');
                $('#workbenchTopCustomAction').addClass('d-inline').css('display', 'unset');

                if (editLayer == null) {
                    $('#workbenchTopCustomActionInputTextHint').html('Layer title:').show();
                    $('#workbenchTopCustomActionInputText').val('').show();
                } else {
                    $('#workbenchTopCustomActionInputTextHint').hide();
                    $('#workbenchTopCustomActionInputText').hide();
                }
            },
            restoreWorkbenchContent: function (this: any) {
                this.refreshWorkbenchTopBreadcrumb();

                let self: any = this;
                setTimeout(function () {
                    self.openLayer();
                }, 200)
            },
            openLayer: function (this: any, id: number | null = null) {
                if (id === null) {
                    id = State.get().getCurrentLayerId();
                } else {
                    if (State.get().getCurrentLayerId() == id) {
                        Utils.userMessage('Layer is already opened.');
                        return;
                    }
                }

                let layerIsOpened: boolean = State.get().openLayer(id);

                if (!layerIsOpened) {
                    Utils.userMessage('No layer is defined.');
                    return;
                }

                let openLayer: Layer = State.get().getCurrentLayer();

                this.refreshWorkbenchTopBreadcrumb();

                modifyLayerBackground(openLayer);

                $('.dragItemObject').remove();

                for (const key of Object.keys(openLayer.dragItemsMap)) {
                    let dragItem: DragItem | null = State.get().getDragItem(parseInt(key));

                    if (dragItem != null) {
                        addDragItemToWorkbenchContent(dragItem);
                    }
                }

                let divWorkbenchParent: any = document.getElementById('divWorkbench');
                divWorkbenchParent.scrollTo(0, 0);
            },
            editCurrentLayer: function (this: any) {
                let callbackData: any = {};
                callbackData.action = 'editCurrentLayer';

                let currentLayer: Layer = State.get().getCurrentLayer();

                if (currentLayer == null) {
                    return;
                }

                let content: string = '' +
                    '<div class="form-group row">' +
                    '  <label for="modalInputId2" class="col-sm-2 col-form-label">Title</label>\n' +
                    '  <div class="col-sm-10">\n' +
                    '    <input type="text" class="form-control isModalInput" id="modalInputId2" value="' + currentLayer.title + '">\n' +
                    '  </div>\n' +
                    '</div>';

                content += '<h4>Background image</h4>';
                content += '<select id="modalInputId1" class="image-picker show-html" style="display: none;">\n';

                callbackData.fileDataImages = [
                    new FileData(FileData.ID_NO_IMAGE, FileData.TYPE_IMAGE, 'assets/icons/noImage.jpeg', 'assets/icons/noImage.jpeg', 'No image')
                ];

                if (currentLayer.treeDepth == 1) {
                    callbackData.fileDataImages.push(
                        new FileData(FileData.ID_INHERITED_IMAGE, FileData.TYPE_IMAGE, 'assets/icons/inheritedImage.jpeg', 'assets/icons/inheritedImage.jpeg', 'Image section')
                    );
                }

                for (let fileData of State.get().data.currentProjectData.files as FileData[]) {
                    if (fileData.type == FileData.TYPE_IMAGE) {
                        callbackData.fileDataImages.push(fileData);
                    }
                }

                for (let fileData of callbackData.fileDataImages as FileData[]) {
                    content += '<option data-img-src="' + fileData.fileAddress + '" data-img-class="first" data-img-alt="' + fileData.title + '" value="' + fileData.id + '"></option>\n';
                }
                content += '</select>';

                let firstActionTitle: string = '';
                let secondActionTitle: string = '';

                if (State.get().getCurrentLayer().treeDepth != 0) {
                    firstActionTitle = 'Delete layer';
                    callbackData.firstActionKey = 'delete-layer';

                    secondActionTitle = 'Edit section';
                    callbackData.secondActionKey = 'edit-layer-position-size';
                }

                let modalData: ModalData = new ModalData('Edit layer', content, 'Save', 'Cancel', this.modalAcceptCallback, this.modalCancelCallback, this.modalActionCallback, firstActionTitle, this.modalActionCallback, secondActionTitle, callbackData);
                this.$parent.showGlobalModal(modalData);

                setTimeout(function () {
                    let modalInputId1: any = $("#modalInputId1");
                    modalInputId1.imagepicker();
                }, 500);

                const currentLayer_title: string = currentLayer.title;

                $('#modalInputId2').val(currentLayer.title);
                setTimeout(function () {
                    $('#modalInputId2').val(currentLayer_title);
                }, 100);
            },
            openDocument: function (this: any, fileDataDocumentId: number) {
                let documentFilename: string = '';

                for (let fileData of State.get().data.currentProjectData.files as FileData[]) {
                    if (fileData.id == fileDataDocumentId) {
                        documentFilename = fileData.fileAddress;
                        break;
                    }
                }

                if (documentFilename == '') {
                    Utils.userMessage('No document specified.');
                    return;
                }

                window.open(documentFilename);
            },
            saveProject: function (this: any) {
                let postData: any = {
                    projectId: State.get().data.currentProjectData.projectId,
                    projectLayers: State.get().getLayersAsList()
                };

                postData = JSON.stringify(postData);
                postData = Utils.base64Encode(postData);

                $.ajax({
                    url: Configuration.BACKEND_API_ADDRESS + 'saveProjectLayers',
                    type: 'POST',
                    data: postData,
                    success: function success(this: any, data: any) {
                        if (data == '"1"') {
                            Utils.userMessage('The project was saved successfully.');
                        } else {
                            Utils.userMessage('The project could not be saved. (1)');
                            Utils.clog(data);
                        }
                    },
                    error: function error(this: any, error: any) {
                        Utils.userMessage('The project could not be saved. (2)');
                        Utils.clog(error);
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                    xhrFields: {
                        withCredentials: true
                    }
                });
            },
            workbenchTopCustomActionSave: function (this: any) {
                let selectLayerPositionAndSizeElement: any = document.getElementById('selectLayerPositionAndSize');

                if (this.triggerCreateNewLayerDragItemId != -1) {
                    let workbenchTopCustomActionInputText: any = $('#workbenchTopCustomActionInputText');

                    if (workbenchTopCustomActionInputText.val() == '') {
                        Utils.userMessage('No layer title is defined.');
                        return;
                    }

                    this.createNewLayer(workbenchTopCustomActionInputText.val(),
                        selectLayerPositionAndSizeElement.offsetLeft,
                        selectLayerPositionAndSizeElement.offsetTop,
                        selectLayerPositionAndSizeElement.clientWidth + 4,
                        selectLayerPositionAndSizeElement.clientHeight + 4);
                } else if (this.triggerEditPositionSizeLayerId != -1) {
                    let modifyLayer: Layer | null = State.get().getLayer(this.triggerEditPositionSizeLayerId);

                    if (modifyLayer != null) {
                        modifyLayer.positionX = selectLayerPositionAndSizeElement.offsetLeft;
                        modifyLayer.positionY = selectLayerPositionAndSizeElement.offsetTop;
                        modifyLayer.width = selectLayerPositionAndSizeElement.clientWidth + 4;
                        modifyLayer.height = selectLayerPositionAndSizeElement.clientHeight + 4;

                        this.openLayer(modifyLayer.id);
                    }
                }

                this.workbenchTopCustomActionCancel();
            },
            workbenchTopCustomActionCancel: function (this: any) {
                $('#workbenchTopBreadcrumb').css('visibility', 'visible');
                $('#workbenchTopHeading').html('&Uuml;bersicht');
                $('#workbenchTopDefaultButtons').addClass('d-inline').css('display', 'unset');
                $('#workbenchTopCustomAction').removeClass('d-inline').css('display', 'none');
                $('#selectLayerPositionAndSize').remove();

                this.triggerCreateNewLayerDragItemId = -1;
                this.triggerEditPositionSizeLayerId = -1;
            },
            createNewLayer: function (this: any, title: string, positionX: number, positionY: number, width: number, height: number) {
                let newLayer: Layer = new Layer(Utils.generateId(), title, State.get().getCurrentLayerId(), State.get().getCurrentLayer().treeDepth + 1, positionX, positionY, width, height);

                if (newLayer.treeDepth == 1) {
                    newLayer.backgroundImageId = FileData.ID_INHERITED_IMAGE;
                } else {
                    newLayer.backgroundImageId = FileData.ID_NO_IMAGE;
                }

                State.get().setLayer(newLayer);

                this.refreshWorkbenchTopBreadcrumb();

                let dragItem: DragItem | null = State.get().getDragItem(this.triggerCreateNewLayerDragItemId);

                if (dragItem != null) {
                    dragItem.specificValue = newLayer.id;
                }

                this.triggerCreateNewLayerDragItemId = -1;
                this.triggerEditPositionSizeLayerId = -1;
            },
            refreshWorkbenchTopBreadcrumb(this: any): void {
                let currentLayer: Layer | null = State.get().getCurrentLayer();

                let layers: Layer[] = [];

                while ((currentLayer != null) && (currentLayer.parentLayerId != -1) && ((currentLayer.id != currentLayer.parentLayerId))) {
                    layers.push(currentLayer);

                    currentLayer = State.get().getLayer(currentLayer.parentLayerId);
                }

                if (currentLayer != null) {
                    layers.push(currentLayer);
                }

                this.breadcrumbLayers = [];

                for (let index = layers.length - 1; index >= 0; index--) {
                    this.breadcrumbLayers.push(layers[index]);
                }
            }
        },
        beforeMount(this: any) {
            this.restoreWorkbenchContent();
        },
        calculateWorkbenchSize: function (this: any) {
            setTimeout(function () {
                calculateWorkbenchSize();
            }, 100);
        }
    }

</script>

<style scoped>

    #dragItemMenuBar {
        position: fixed;
        bottom: 0;
        z-index: 1030;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        background: #f8f9fa;
        border-top: 1px solid #dee2e6;
        margin-left: -15px;
        width: 100%;
    }

</style>
