<template>

    <div class="d-flex" id="wrapper">

        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading systemArchitectureLogo"></div>
            <div class="list-group list-group-flush">

                <div v-if="navigationLevel === 'projects'">
                    <a :key="item.id" @click="openProject(item.id)"
                       class="list-group-item list-group-item-action bg-light asLink" v-for="item in userData.projects">{{item.title}}</a>
                    <a @click="newProject()" class="list-group-item list-group-item-action bg-light asLink">New project...</a>
                </div>

                <div v-else-if="navigationLevel === 'openProject'">
                    <a class="list-group-item projectTitle">{{currentProjectData.projectName}}</a>
                    <a :style="getComponentLinkStyle('ProjectOverview')"
                       @click="openProjectOverview" class="list-group-item list-group-item-action bg-light asLink">Overview</a>
                    <a :style="getComponentLinkStyle('ProjectFiles')"
                       @click="openProjectFiles" class="list-group-item list-group-item-action bg-light asLink">Files</a>
                    <a :style="getComponentLinkStyle('ProjectSettings')"
                       @click="openProjectSettings" class="list-group-item list-group-item-action bg-light asLink">Settings</a>
                    <a @click="closeProject()" class="list-group-item list-group-item-action bg-light asLink"
                       style="color: #ff0000;">Close project</a>
                </div>

            </div>
        </div>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a @click="logout" class="nav-link asLink"
                               style="display: inline-flex; margin-right: 30px;">
                                <img src="assets/icons/user.svg" style="max-height: 20px; margin-right: 10px;">
                                <span>{{userData.username}}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a @click="toggleInfo" class="nav-link asLink">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="menu-toggle" style="display: none;">Toggle menu</a>
                        </li>
                    </ul>
                </div>

            </nav>

            <div class="container-fluid" id="divMainContent">
                <component v-bind:is="componentName"></component>
            </div>
        </div>

        <Modal ref="globalTemplateModal" v-bind:modalData="modalData"/>

    </div>

</template>

<script lang="ts">

    import $ from 'jquery';
    import NothingToShow from "./NothingToShow.vue";
    import Info from "./Info.vue";
    import NotLoggedIn from "./NotLoggedIn.vue";
    import ProjectOverview from "./ProjectOverview.vue";
    import ProjectFiles from "./ProjectFiles.vue";
    import ProjectSettings from "./ProjectSettings.vue";
    import Modal from '@/components/Modal.vue';
    import {DragItem, Layer, ModalData, ProjectData} from "@/components/Classes";
    import {FileData, State, UserData, Utils} from "./Classes";
    import {Configuration} from "./Configuration";

    export default {
        name: 'Template',
        components: {
            NothingToShow,
            Info,
            ProjectOverview,
            ProjectFiles,
            ProjectSettings,
            Modal,
            NotLoggedIn
        },
        beforeMount(this: any) {
            this.userData = State.get().getUser();
        },
        methods: {
            toggleInfo: function (this: any) {
                if (this.componentName === 'Info') {
                    this.setComponentName(this.componentNameOnInfo);
                } else {
                    this.componentNameOnInfo = this.componentName;
                    this.setComponentName('Info');
                }
            },
            setComponentName: function (this: any, componentName: string) {
                this.componentName = componentName;
            },
            openProject: function (this: any, projectId: any) {
                projectId = parseInt(projectId);

                const self: any = this;

                Utils.performGetRequest('getProject/' + projectId, function success(this: any, response: any) {
                    if ((response.hasOwnProperty('data')) && (response.data.hasOwnProperty('id')) && (parseInt(response.data.id) === projectId)) {
                        let projectData = new ProjectData();

                        projectData.projectId = parseInt(response.data.id);
                        projectData.projectName = Utils.formatFromDatabase(response.data.projectName);
                        projectData.projectDescription = Utils.formatFromDatabase(response.data.projectDescription);
                        projectData.workbenchWidth = parseInt(response.data.workbenchWidth);
                        projectData.workbenchHeight = parseInt(response.data.workbenchHeight);

                        for (let fileManagerEntry of response.data.fileManager.files) {
                            projectData.files.push(new FileData(fileManagerEntry.id, fileManagerEntry.type, fileManagerEntry.filePath, Configuration.BACKEND_FILE_ADDRESS + fileManagerEntry.filePath, fileManagerEntry.filename));
                        }

                        State.get().resetLayers();

                        if (response.data.layers.length == 0) {
                            State.get().prepareDefaultLayer();
                        } else {
                            for (let layer of response.data.layers as any[]) {
                                let currentLayer: Layer = new Layer(layer.objectId, layer.title, layer.parentLayerId, layer.treeDepth, layer.positionX, layer.positionY, layer.width, layer.height, layer.backgroundImageId);

                                for (let dragItem of layer.dragItems as any[]) {
                                    let currentDragItem: DragItem = new DragItem(dragItem.objectId, dragItem.type);
                                    currentDragItem.specificValue = dragItem.specificValue;
                                    currentDragItem.positionX = dragItem.positionX;
                                    currentDragItem.positionY = dragItem.positionY;
                                    currentLayer.setDragItem(currentDragItem);
                                }

                                State.get().setLayer(currentLayer);
                            }
                        }

                        State.get().data.currentLayerId = 0;

                        self.openProjectOverview();

                        self.navigationLevel = 'openProject';
                        State.get().data.currentProjectData = projectData;

                        self.refresh();
                    } else {
                        Utils.userMessage('The project could not be opened. (1)');
                        Utils.clog(response);
                    }

                }, function error(this: any, error: any) {
                    Utils.userMessage('The project could not be opened. (2)');
                    Utils.clog(error);
                });
            },
            modalAcceptCallback: function (this: any, data: any) {
                if (data.hasOwnProperty('action')) {
                    if (data.action === 'newProject') {
                        const newProjectData = new ProjectData();

                        let modalInputId1 = $('#modalInputId1');
                        let modalInputId2 = $('#modalInputId2');

                        newProjectData.projectName = modalInputId1.val() as string;
                        newProjectData.projectDescription = modalInputId2.val() as string;

                        if (newProjectData.projectDescription == '') {
                            newProjectData.projectDescription = 'New project';
                        }

                        newProjectData.workbenchWidth = Configuration.DEFAULT_WORKBENCH_WIDTH;
                        newProjectData.workbenchHeight = Configuration.DEFAULT_WORKBENCH_HEIGHT;

                        const self = this;

                        const userData: UserData | null = State.get().getUser();

                        if (userData == null) {
                            return;
                        }

                        Utils.performGetRequest('createProject/' +
                            userData.username + '/' +
                            Utils.formatForDatabase(newProjectData.projectName) + '/' +
                            Utils.formatForDatabase(newProjectData.projectDescription) + '/' +
                            newProjectData.workbenchWidth + '/' +
                            newProjectData.workbenchHeight,
                            function success(this: any, response: any) {
                                if ((response.hasOwnProperty('data')) && (response.data.hasOwnProperty('id'))) {
                                    newProjectData.projectId = parseInt(response.data.id);
                                    userData.addProjectEntry(newProjectData.projectId, newProjectData.projectName);
                                    self.userData = State.get().getUser();
                                    self.openProject(newProjectData.projectId);
                                } else {
                                    Utils.userMessage('The new project could not be saved. (1)');
                                    Utils.clog(response);
                                }
                            }
                            , function error(this: any, error: any) {
                                Utils.userMessage('The new project could not be saved. (2)');
                                Utils.clog(error);
                            });
                    }
                }
            },
            modalCancelCallback: function (this: any, data: any) {
                // cancel
            },
            showGlobalModal: function (this: any, modalData: ModalData) {
                this.modalData = modalData;
                let modalInputs = $('.isModalInput');
                modalInputs.text('');
                modalInputs.val('');
                modalInputs.html('');
                Modal.methods.show();
            },
            newProject: function (this: any) {
                let callbackData: any = {};
                callbackData.action = 'newProject';
                let content = '' +
                    '<div class="form-group row">' +
                    '  <label for="modalInputId1" class="col-sm-3 col-form-label">Title</label>\n' +
                    '  <div class="col-sm-9">\n' +
                    '    <input type="text" class="form-control isModalInput" id="modalInputId1" value="">\n' +
                    '  </div>\n' +
                    '</div>' +
                    '<div class="form-group row">' +
                    '  <label for="modalInputId2" class="col-sm-3 col-form-label">Description</label>\n' +
                    '  <div class="col-sm-9">\n' +
                    '    <textarea class="form-control rounded isModalInput" id="modalInputId2" rows="3"></textarea>\n' +
                    '  </div>\n' +
                    '</div>';
                let modalData = new ModalData('New project', content, 'Create project', 'Cancel', this.modalAcceptCallback, this.modalCancelCallback, null, '', null, '', callbackData);
                this.showGlobalModal(modalData);
            },
            closeProject: function (this: any, showConfirm: boolean = true) {
                if (showConfirm) {
                    if (!confirm('Really close project? Unsaved changes will be lost.')) {
                        return;
                    }
                }
                this.componentName = 'NothingToShow';
                this.navigationLevel = 'projects';
                State.get().data.currentProjectData = new ProjectData();
                this.refresh();
            },
            openProjectOverview: function (this: any) {
                this.componentName = 'ProjectOverview';
                ProjectOverview.calculateWorkbenchSize();
            },
            openProjectFiles: function (this: any) {
                this.componentName = 'ProjectFiles';
            },
            openProjectSettings: function (this: any) {
                this.componentName = 'ProjectSettings';
            },
            getComponentLinkStyle: function (this: any, componentName: string) {
                if (this.componentName === componentName) {
                    return 'font-weight: bold;';
                } else {
                    return '';
                }
            },
            refresh: function (this: any) {
                this.currentProjectData = State.get().data.currentProjectData;

                let userData: UserData | null = State.get().getUser();
                if (userData != null) {
                    this.userData = userData;
                }
            },
            logout: function (this: any) {
                if (confirm('Logout?')) {
                    State.reset();

                    const self: any = this;

                    Utils.performGetRequest('logout', function success(response: any) {
                        if (response !== '"1"') {
                            Utils.clog('Logout error. (1)');
                            Utils.clog(response);
                        }
                        self.$parent.setComponentName('NotLoggedIn');

                    }, function error(error: any) {
                        Utils.clog('Logout error. (2)');
                        Utils.clog(error);
                        self.$parent.setComponentName('NotLoggedIn');
                    });
                }
            }
        },
        data() {
            return {
                componentName: 'NothingToShow',
                navigationLevel: 'projects',
                modalData: new ModalData('', '', '', '', null, null, null, '', null, '', null) as ModalData,
                currentProjectData: new ProjectData() as ProjectData,
                userData: new UserData(0, '') as UserData,
                componentNameOnInfo: 'NothingToShow'
            }
        },

    }
</script>
