html,body
{
    height:100%;
}

.container-fluid
{
    background-color: #ffffff;
}

#divWorkbench
{
    background-color: #eeeeee;
    /*width: 90%;*/
    position: absolute;
}

.dragItemObject
{
    position: absolute;
    /*width: 150px;*/
    min-height: 20px;
    background: #ffffff;
    border: 1px solid #999999;
    padding: 6px;
}

.dragItemObjectImage
{
}

.dragItemObjectLabel
{
}

.dragItemObjectTrafficLight
{
    height: 50px;
    width: 50px;
    padding: 2px !important;
}

.dragItemObjectDocument
{
    height: 50px;
    width: 50px;
}

.dragItemObjectRisk
{
    height: 60px;
    width: 60px;
}

.dragItemObjectNotice
{
    height: 40px;
    width: 40px;
}

.dragItemObjectMagnifier
{
    height: 40px;
    width: 40px;
}

#ctxMenu {
    display: none;
    z-index: 2000;
}

.ctxMenu {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    /*height: 28px;
    width: 22px;*/
    padding: 0;
    margin: 0;
    border: 1px solid #999999;
    background-color: white;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 2px;
}

menu:hover {
    background-color: #eeeeee;
    font-weight: bold;
}

div:hover > menu {
    display: block;
}

div > menu {
    display: none;
    position: relative;
    top: -25px;
    left: 100%;
    width: 120px;
}

menu[title]:before {
    content:attr(title);
}

menu:not([title]):before {
    /*content:"\2630";*/
}

.ctxMenuItem {
    padding: 6px 12px 6px 4px;
    margin: 0;
    cursor: pointer;
}

.ctxMenuItem:hover {
    background: #eeeeee;
}

.selectLayerPositionAndSize
{
    border: 2px solid #ff0000;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    z-index: 99999;
    overflow: auto;
    resize: both;
    cursor: default;
}

.selectLayerPositionAndSizeInner
{
    width: 95%;
    height: 95%;
    cursor: move;
}

.inline-form-control
{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
