/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    background-size: cover !important;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

#divMainContent
{
    margin-top: 20px;
}

.asLink
{
    cursor: pointer;
}

.asColoredLink
{
    cursor: pointer;
    /*font-weight: bold;*/
    color: #000000;
}

.activeLink
{
    font-weight: bold;
}

.asColoredLink:hover
{
    color: #777777;
}

.asNotClickable
{
    cursor: default;
}

.container-fluid
{
    background-color: #ffffff;
}

.imgMoveablePreview
{
    position: absolute;
    width: 150px;
}

#divWorkbenchContent
{
    position: absolute;
    background-repeat: no-repeat !important;
}

.dragItemMenuBarItem
{
    height: 40px;
    width: 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 4px;
}

.filesImagePreviewItem
{
    width: 150px !important;
    height: 150px !important;
    margin-right: 12px;
    margin-bottom: 12px;
    object-fit: contain;
    cursor: not-allowed !important;
}

.filesDocumentPreviewItem
{
    padding: .25rem;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 600px;
    margin-bottom: 6px;
    cursor: not-allowed !important;
}

.projectTitle
{
    background: #007bff !important;
    color: #ffffff !important;
    font-weight: bold !important;
    cursor: default;
}

.systemArchitectureLogo
{
    background: url('/assets/systemArchitecture.jpeg');
    width: 240px !important;
    height: 56px !important;
}
