<template>

    <div id="app">
        <component v-bind:is="componentName"></component>
    </div>

</template>

<script lang="ts">

    import Vue from 'vue'
    import axios from 'axios';
    import VueAxios from 'vue-axios';
    import $ from 'jquery';
    import 'bootstrap'
    import 'bootstrap/dist/css/bootstrap.min.css'
    import Template from "./components/Template.vue";
    import Login from "./components/Login.vue";
    import NotLoggedIn from "./components/NotLoggedIn.vue";
    import {Configuration} from "./components/Configuration";
    import {State, TestOnStartup, UserData, Utils} from "./components/Classes";

    // @ts-ignore
    window.jQueryFromVue = $;

    Vue.use(VueAxios, axios);

    export default {
        name: 'App',
        components: {
            Template,
            Login,
            NotLoggedIn
        },
        beforeMount: function (this: any) {
            this.receiveLogin();
        },
        mounted: function (this: any) {
            TestOnStartup.performTests();
        },
        methods:
            {
                receiveLogin: function (this: any): void {
                    let self: any = this;

                    if (Configuration.MOCK) {
                        State.get().setUser(0, 'enes');
                        let userData: UserData | null = State.get().getUser();
                        if (userData != null) {
                            userData.addProjectEntry(60, 'Projekt 60');
                        }
                        self.componentName = 'Template';
                        return;
                    }

                    Utils.performGetRequest('username', function (this: any, response: any) {
                        if ((response.hasOwnProperty('data')) && (response.data.hasOwnProperty('username'))) {
                            State.get().setUser(0, response.data.username);

                            if (response.data.hasOwnProperty('projects')) {
                                let userData: UserData | null = State.get().getUser();

                                if (userData != null) {
                                    for (let project of response.data.projects) {
                                        userData.addProjectEntry(project.id, project.title);
                                    }
                                }
                            }

                            self.componentName = 'Template';

                            return;
                        }
                        Utils.userMessage('Wrong username or password.');

                    }, function (this: any, error: any) {
                        Utils.clog(error);
                        Utils.userMessage('Communication with server not possible.');
                    });
                },
                setComponentName: function (this: any, componentName: string) {
                    this.componentName = componentName;
                }
            },
        data() {
            return {
                //componentName: 'Login'
               componentName: 'NotLoggedIn'
            }
        }
    }
</script>
